.card-poster {
  background-size: cover;
  height: 572px;
  /*width: 414px;*/
}

.video-card {
  margin-bottom: 30px;
}

.details-card {
  /*margin-left: 27px;
  width: 96%;*/
  /*margin-bottom: 30px;*/
}

.margin-top {
  margin-top: 25px;
}

mat-progress-bar {
  height: 10px !important;
  margin-bottom: 10px;
  margin-top: 15px;
}

.description-card {
  height: 172px !important;
}