<div class="main-content">
  <div class="container-fluid">
    <h2>Collection</h2>
    <div class="row" style="margin-top: -35px;">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>Filter your collection</mat-label>
          <mat-select>
            <mat-option *ngFor="let status of statusesList"
                        (onSelectionChange)="changeStatus($event)" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row container-movie-cards">
        <ng-container *ngFor="let movieCard of collectionCardsList">
          <ng-container *ngIf="selectedStatus == movieCard.movieStatus.name || selectedStatus == 'all'">
            <div class="col-md-3">
              <div class="card" [ngStyle]="{ 'background-image': 'url(' + movieCard.movie.posterLink + ')'}" style="background-size: 238px 330px;">
                <div class="card-header card-header-danger">
                  <h4 class="card-title ">{{movieCard.movie.title}}</h4>
                  <p class="status">-{{movieCard.movieStatus.name}}-</p>
                </div>
                <div class="card-body">
                  <a routerLink="/movie-details/{{movieCard.movie.movieId}}">
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right btn-block">More...</button>
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>