<div class="wrapper wrapper-full-page">
  <div class="page-header login-page header-filter" filter-color="black">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
          <div class="card card-login ">
            <div class="card-header text-center">
                <br />
                <h3>Movie night!</h3>
            </div>
            <div class="card-body ">
              <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Login">
                  <br />
                  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="email" formControlName="username" class="form-control" placeholder="Username...">
                      </div>
                    </span>
                    <br />
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" formControlName="password" class="form-control" placeholder="Password...">
                      </div>
                    </span>
                    <span *ngIf="loginError!=''" class="bmd-form-group">
                      <ul>
                        <li>
                          {{loginError}}
                        </li>
                      </ul>
                    </span>
                    <div class="card-footer justify-content-center">
                      <button type="submit" class="btn btn-rose btn-link btn-lg">Lets Go</button>
                    </div>
                  </form>
                </mat-tab>
                <mat-tab label="Register">
                  <br />
                  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                    <!--<span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <input type="email" formControlName="username" class="form-control" placeholder="Username...">
                      </div>
                    </span>-->
                    <!--<br />-->
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">email</i>
                          </span>
                        </div>
                        <input type="email" formControlName="email" class="form-control" placeholder="Email...">
                      </div>
                    </span>
                    <br />
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" formControlName="password" class="form-control" placeholder="Password...">
                      </div>
                    </span>
                    <br />
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password...">
                      </div>
                    </span>
                    <span class="bmd-form-group">
                      <ul *ngFor="let error of registerErrors">
                        <li>
                          {{error}}
                        </li>
                      </ul>
                    </span>
                    <div class="card-footer justify-content-center">
                      <button type="submit" class="btn btn-rose btn-link btn-lg">Lets Go</button>
                    </div>
                  </form>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<button (click)="haha()" style="width:100px; height:200px"></button>-->